<div class="bg-gray-500 bg-opacity-50 ">
  <header class="container mx-auto p-2 md:p-3">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl md:text-2xl self-center"><%= link_to "Voice Cloud", root_path %></h1>
    <div  @click="isOpen = !isOpen" class="self-center md:hidden">
      <div class="w-10 cursor-pointer">
        <div class="border-b-4 border-gray-400"></div>
        <div class="border-b-4 border-gray-500 py-1"></div>
        <div class="border-b-4 border-gray-600 py-1"></div>
      </div>
    </div>
  </div>
    <div :class="isOpen ? 'block' : 'hidden'" >
      <ul class="md:flex md:justify-end">
        <% if user_signed_in? %>
          <li></li>
        <% else %>

          <li class="block px-8 py-2 my-2 hover:bg-gray-400 rounded">
            <%= link_to "ログイン", new_user_session_path %>
          </li>

          <li class="block px-8 py-2 my-2 hover:bg-gray-400 rounded">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>

        <% end %>
      </ul>
    </div>
  </header>
</div>
